
<div class="container m2ps">
<div class="row " > 
    
    
    <div class="col-lg-2" style="background-color: purple">
        <button class="btn btn-success" ng-click="solve()">SOLVE</button>
        <button class="btn btn-success" ng-click="clear()">CLEAR</button>
    </div>
    
    <div class="col-lg-10" style="background-color: yellow">
        

        <h1 style="text-align: center"> Choose the initiale numbers</h1>
    
 
        <div class="sdk_box2" data-ng-init="clear()" 
             style="margin-left:8%">               
            <div class="row sdk_row" 
                 ng-repeat="i in $storage.indexes track by $index">
                <div class="col-auto sdk_cell" 
                     ng-repeat="j in $storage.indexes track by $index" 
                     ng-style="cellstyle(j,i)">

                     <input name="cell_{{j}}_{{i}}"
                            class="sdk_text form-control" 
                            ng-model="$storage.cell[j][i]"
                            
                            >
                                            
                </div>
            </div>
        </div>
    </div>

    
</div>
</div>

<div class="container" > 
    <h1 class="sdk_h1_3" > footer </h1>    
</div>
