
<div class="sdk_box1" >
    
    <h1 style="text-align: center; font-size: 120px" > Choose the Size</h1> 
    
    <div class="sdk_btn_div" style="text-align: center">
        
        <button class="btn btn-success"
                ng-click="goto_setnumbers(9)"
                style=" height: 120px; 
                        width: 120px; 
                        font-size:75px; 
                        margin: 0px 10px 0px;
                        color: white">  9 </button>
        
        <button class="btn btn-success"
                ng-click="goto_setnumbers(16)"
                style=" height: 120px; 
                        width: 120px; 
                        font-size:75px; 
                        margin: 0px 10px 0px;
                        color: white"> 16 </button>
        
        <button class="btn btn-success"
                ng-click="goto_setnumbers(25)"
                style=" height: 120px; 
                        width: 120px; 
                        font-size:75px; 
                        margin: 0px 10px 0px;
                        color: white"> 25 </button>
        
    </div>
    
</div>